<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>相册</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
  .row h4 {
    text-align: center;
  }
  </style>
</head>
<body>
  <ol class="breadcrumb">
    <li><a href="/">全部相册</a></li>
    <li class="active"><%= albumName %></li>
  </ol>

  <div class="container">
    <div class="row">
      <% for(var i=0; i<images.length; i++) {%>
        <div class="col-xs-6 col-md-3">
          <a href="<%=images[i] %>" class="thumbnail" >
            <img src="<%=images[i] %>" alt="" srcset="">
          </a>
        </div>
      <%}%>
    </div>
  </div>
</body>
</html>